ipykernel
python-dotenv
streamlit
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
faiss-cpu
pypdf
pymupdf
python-docx
pandas
openpyxl
xlrd
pytesseract
Pillow
beautifulsoup4
lxml